{% load static %}
<html lang="en, ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Puzzl-E!</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body> 
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg">
        <div class="container mt-1">
            <a class="navbar-brand text-brand nav-text" href="/home"><img src="{% static 'assets/logo.png' %}" class="logo" alt="logo"> PUZZLE-E</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <form action="/logout/" method="post">
                                {% csrf_token %}
                                <button type="submit" class="button">Выйти</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link nav-text" href="/login"><button class="button">Войти</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text" href="/register"><button class="button">Регистрация</button></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="section main vh100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <form class="registration-form" action="/register/" method="post">
                    {% csrf_token %}
                    <h2 style="color: black">Регистрация</h2>
                    <div class="form-group">
                        <label for="email"><i class="fas fa-envelope"></i> Электронная почта</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="username"><i class="fas fa-user"></i> Имя пользователя</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="fas fa-lock"></i> Пароль</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password"><i class="fas fa-lock"></i> Повторите пароль</label>
                        <input type="password" id="confirm-password" name="confirm-password" required>
                    </div>
                    <div class="form-group" style="display: flex; align-items: center;">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="show-password">
                        </div>
                        <label for="show-password"  style="margin-left: 10px;">Показать пароль</label>
                    </div>
                    <div class="form-group" style="display: flex; justify-content: space-between;">
                        <button type="submit" class="btn btn-primary" style="width: 50%;">Зарегистрироваться</button>
                        <a href="{% url 'login' %}" class="btn btn-secondary" style="width: 50%;">Войти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("show-password").addEventListener("change", function() {
                var passwordField = document.getElementById("password");
                var pass_confField = document.getElementById("confirm-password");
                if (this.checked) {
                    passwordField.type = "text";
                    pass_confField.type = "text";
                } else {
                    passwordField.type = "password";
                    pass_confField.type = "password";
                }
            });
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>
</html>
